/**
 * Roboto Font Family
 * Optimized @font-face declarations with correct font-weight and font-style
 */

/* Thin 100 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: optional;
  src:
    local("Roboto Thin"),
    url("/fonts/roboto-webfont/Roboto-Thin.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-display: optional;
  src:
    local("Roboto Thin Italic"),
    url("/fonts/roboto-webfont/Roboto-ThinItalic.woff") format("woff");
}

/* Light 300 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src:
    local("Roboto Light"),
    url("/fonts/roboto-webfont/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: optional;
  src:
    local("Roboto Light Italic"),
    url("/fonts/roboto-webfont/Roboto-LightItalic.woff") format("woff");
}

/* Regular 400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src:
    local("Roboto Regular"),
    url("/fonts/roboto-webfont/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src:
    local("Roboto Italic"),
    url("/fonts/roboto-webfont/Roboto-Italic.woff") format("woff");
}

/* Medium 500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src:
    local("Roboto Medium"),
    url("/fonts/roboto-webfont/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: optional;
  src:
    local("Roboto Medium Italic"),
    url("/fonts/roboto-webfont/Roboto-MediumItalic.woff") format("woff");
}

/* Bold 700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src:
    local("Roboto Bold"),
    url("/fonts/roboto-webfont/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: optional;
  src:
    local("Roboto Bold Italic"),
    url("/fonts/roboto-webfont/Roboto-BoldItalic.woff") format("woff");
}

/* Black 900 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src:
    local("Roboto Black"),
    url("/fonts/roboto-webfont/Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-display: optional;
  src:
    local("Roboto Black Italic"),
    url("/fonts/roboto-webfont/Roboto-BlackItalic.woff") format("woff");
}
